/* 
    Primary: #eaecf5 (RGB: 234, 236, 245)
    Secondary: #06070e (RGB: 6, 7, 14)
    Primary Button: #0d2f52 (RGB: 13, 47, 82)
    Secondary Button: #ffffff (RGB: 255, 255, 255)
    Accent: #763ea8 (RGB: 118, 62, 168)
*/

.showBtn {
  border: 3px solid #763ea8;
  padding: 5px 10px;
  border-radius: 10px;
  margin: 1rem;
}

.readmorecontainer {
  overflow: hidden;
  transition: 5s;
}

.readmorecontainer p {
  margin: 0;
  transition: 5s;
}
