/* 
    Primary: #eaecf5 (RGB: 234, 236, 245)
    Secondary: #06070e (RGB: 6, 7, 14)
    Primary Button: #0d2f52 (RGB: 13, 47, 82)
    Secondary Button: #ffffff (RGB: 255, 255, 255)
    Accent: #763ea8 (RGB: 118, 62, 168)
*/
.search{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1vw;
    margin: 0;
    margin-top: 2vh;
    background-color: #06070e;

}

.border{
    width: 100%
}

.anime{
    cursor: pointer;
    border: 3px solid #0d2f52;
    border-radius: 30px;
    width: 80vw;
    height: 20vw;
    margin: 1vh;
    margin-left: 10vw;
    margin-right: 10vw;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    /* gap: 2vw; */
    position: relative;
}

.anime:hover{
    transition: 0.5s;
    border: 3px solid #763ea8;
}

.anime-image img{
    
    padding: 2vw;
    border-radius: 50px;
    height: 15vw;
}

.anime-info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 5vw;
    margin-top: 2vw;
    gap: 15%;
}

.anime-title{
    font-size: 2vw;
    font-weight: bold;
    color: #eaecf5;
}

.anime-episodes{
    font-size: 1.5vw;
    color: #eaecf5;
}

.anime-time{
    font-size: 1.5vw;
    color: #eaecf5;
}



.like:hover{
    cursor: pointer;
    color: #763ea8;
}