body{
    margin: 0;
    padding: 0;
    background-color: #06070e;
    height: 100v;
    color: #eaecf5;
}

.base{
    height: 100vh;
    background-color: #06070e; 
}

/* 
    Primary: #eaecf5 (RGB: 234, 236, 245)
    Secondary: #06070e (RGB: 6, 7, 14)
    Primary Button: #0d2f52 (RGB: 13, 47, 82)
    Secondary Button: #ffffff (RGB: 255, 255, 255)
    Accent: #763ea8 (RGB: 118, 62, 168)
*/
